# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df["date"]= pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
df.set_index("date", inplace = True)

In [9]:
df.dropna()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70
...                 ...   ...   ...
2017-08-17  USC00516128  0.13    72
2017-08-19  USC00516128  0.09    71
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[18103 rows x 3 columns]

In [11]:
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70
...                 ...   ...   ...
2017-08-17  USC00516128  0.13    72
2017-08-19  USC00516128  0.09    71
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[18103 rows x 3 columns]

In [15]:
# Drop the date column
#dfindexed.drop(columns = "date")
#note that we cannot drop the date column because it is an index now

### Compare June and December data across all years

In [26]:
from scipy import stats

In [15]:
# Filter data for desired months
June = df[df.index.month==6]
December = df[df.index.month==12]

In [32]:
#checking data to make sure the filter worked correctly
#June
#December

In [19]:
# Identify the average temperature for June
Javg_temp = June["tobs"].mean()
Javg_temp

74.88754764930114

In [20]:
# Identify the average temperature for December
Davg_temp = December["tobs"].mean()
Davg_temp

70.93024911032029

In [30]:
# Create collections of temperature data
june_temp = June["tobs"]
#june_temp

In [28]:
june_temp.describe()

count    1574.000000
mean       74.887548
std         3.255695
min        65.000000
25%        72.000000
50%        75.000000
75%        77.000000
max        85.000000
Name: tobs, dtype: float64

In [31]:
Dec_temp = December["tobs"]
#Dec_temp

In [29]:
Dec_temp.describe()

count    1405.000000
mean       70.930249
std         3.741578
min        56.000000
25%        69.000000
50%        71.000000
75%        74.000000
max        81.000000
Name: tobs, dtype: float64

In [27]:
# Run paired t-test
stats.ttest_ind(june_temp,Dec_temp, equal_var=False)

Ttest_indResult(statistic=30.624201480767336, pvalue=6.622829250184814e-178)

### Analysis

I use a paired t-test to compare the temperatures because the temperatures are independent, they take place during different scenarios (months). The null hypothesis is the mean temperature are equal and our alternate is that they are different.  From the t-test we see that our p-value is nearly 0 and less than a significance level of .05. From this result we can reject our null hypothesis and conclude that the temperatures for June and December are significantly different.